{% load i18n %}

<div class="themeable-xblock scormxblock_block">
    {% if scorm_file %}
        <p class="scorm-preview-text">{% trans "Look in LMS"%}</p>
    {% else %}
        <!--<p class="scorm-default-text component-default-text">
            {% trans "Use this component to add elearning modules to your course. Elearning modules must be in 2004 or 1.2 format."%}
        </p>-->
        <div class="colorful-boxes">
            <div class="blue-block">
                <!-- fa-file-audio fa-video fa-file-pdf fa-text fa-box external-link-square-alt-->
                <span class="icon"><span class="fal fa-external-link-square-alt"></span></span>
                <strong>{% trans "Use SCORM Component"%}</strong>
                <p>{% trans "Use this component to add elearning modules to your course. Elearning modules must be in 2004 or 1.2 format."%}</p>
            </div>
            <div class="yellow-block">
                <span class="icon"><span class="fal fa-play"></span></span>
                <strong>{% trans "You are now ready"%}</strong>
                <p>{% trans "Add an e-learning module by clicking on the pencil icon."%}</p>
            </div>
        </div>
    {% endif %}
</div>
