/* CSS for ScormXBlock */
.scormxblock_hostframe {
	border: 0;
	height: 300px;
	width: 100%;
	overflow-y: scroll
}

.scormxblock_block .scorm_description {
	margin: 1em 0;
	padding: 1em;
	background: rgb(250,250,250);
}

.scormxblock_block .scorm_weight {
	font-size: 80%;
}

.scormxblock_block .scorm_launch {
	margin: 1em 0;
}

.scorm_xblock .count {
    font-weight: bold;
}

.scorm_xblock p {
    cursor: pointer;
}

/* Override file : "cms/static/sass/_courseware.scss" */
.view-container .wrapper-content .content-primary>.wrapper-xblock .reorderable-container .studio-xblock-wrapper section .xblock-render>.xblock {
	width: 100%;
	max-width: 1800px;
}

/*.wrapper-comp-settings {*/
/*    .wrapper-comp-setting {*/

/*        .question-mark-wrapper {*/
/*            display: inline-block;*/

/*            .icon-question {*/

/*                .before {*/
/*                    border-top: none;*/
/*                    border-bottom: 26px solid #dcdcdc;*/
/*                    top: calc(100% - 1px);*/
/*                }*/

/*                .after {*/
/*                    top: calc(100% + 4px);*/
/*                    bottom: unset;*/
/*                }*/

/*            }*/
/*        }*/
/*    }*/

/*}*/


.supp-tags .supp-resources {
    display: flex;
    clear: both;
	flex-wrap: wrap;
	min-height: 300px;
	padding: 0;
	justify-content: flex-start;
	align-content: space-around;
}

.supp-tags .supp-resources .resource-itm {
	border: 0;
	display: block;
	float: left;
}

.supp-tags .supp-resources .resource-itm:hover .itm-container .itm-tags-bar .itm-tags-tail {
	visibility: visible;
}

.supp-tags .supp-resources .resource-itm:not(:last-of-type) {
	margin-right: 20px;
	margin-bottom: 20px;
}

.supp-tags .supp-resources .resource-itm:last-of-type {
	margin-bottom: 20px;
	border: 0;
	padding-bottom: 8px;
}

.supp-tags .supp-resources .resource-itm .itm-container {
	margin-top: 25px;
	padding: 21px;
	border: 3px solid #FFFFFF;
	border-radius: 12px;
	width: 337px;
	height: auto;
	background-color: #f8f8fc;
	cursor: pointer;
}

.supp-tags .supp-resources .resource-itm .itm-container:hover {
   border-color: rgba(231,65,60,0.4);
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-title-bar {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-title-prefix {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-title-bar .itm-title-prefix .itm-name {
	margin: 0 12px 0 12px;
	color: black;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: bold;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-title-tail {
	margin: 0 8px 0 0;
	padding: 0;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-description {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 13px;
	color: #727272;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	color: #727272;
	font-family: 'Open Sans';
	font-size: 10px;
	font-weight: 600;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix .itm-yellow-tag {
	margin: 0 10px 5px 0;
	padding: 3px 9px 3px 9px;
	border: 0;
	border-radius: 5px;
	color: #ebb801;
	background-color: #fff2c1;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix .item-pink-tag {
	margin: 0 10px 5px 0;
	padding: 3px 9px 3px 9px;
	border: 0;
	border-radius: 5px;
	color: #eb03aa;
	background-color: #ffc2f2;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix .itm-blue-tag {
	margin: 0 10px 5px 0;
	padding: 3px 9px 3px 9px;
	border: 0;
	border-radius: 5px;
	color: #465df0;
	background-color: #dcdcff;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix .itm-lightblue-tag {
	margin: 0 10px 5px 0;
	padding: 3px 9px 3px 9px;
	border: 0;
	border-radius: 5px;
	color: #6EE0E8;
	background-color: #D8FCFF;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix .itm-red-tag {
	margin: 0 10px 5px 0;
	padding: 3px 9px 3px 9px;
	border: 0;
	border-radius: 5px;
	color: #ed1615;
	background-color: #ffc2c3;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix .itm-lightgreen-tag {
	margin: 0 10px 5px 0;
	padding: 3px 9px 3px 9px;
	border: 0;
	border-radius: 5px;
	color: #31C937;
	background-color: #E7FFDC;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-prefix .item-purple-tag {
	margin: 0 10px 5px 0;
	padding: 3px 9px 3px 9px;
	border: 0;
	border-radius: 5px;
	color: #ed46f0;
	background-color: #f7dcff;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .sequence-nav-button {
	position: relative;
	min-width: 120px;
	max-width: 200px;
	text-overflow: ellipsis;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .itm-tags-tail {
	padding: 0;
	margin: 0 0 0 280px;
	position: absolute;
	z-index：10;
	visibility: hidden;
}

.supp-tags .supp-resources .resource-itm .itm-container .itm-tags-bar .button-next {
    border: 0;
    background-image: none;
    text-transform: none;
    border-radius: 8px;
    font-weight: 600;
    text-shadow: none;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    padding: 18px 25px;
    font-size: 16px;
    transition-duration: 0.25s;
    color: #fff;
    background-color: #e7413c;
    box-shadow: 1px 1px 4px rgba(231,65,60,0.35);
    min-width: 0;
}

.supp-tags .supp-tags-nav {
	border: 0;
	margin: 0;
	display: block;
	font-size: 0;
}

.supp-tags .supp-tags-nav .nav-itm {
	display: inline-block;
	padding-bottom: 0px;
	font-family: 'Open Sans';
	font-size: 14px;
}

.supp-tags .supp-tags-nav .nav-itm:not(:last-of-type) {
	margin-right: 25px;
}

.supp-tags .supp-tags-nav .nav-itm .btn-link {
	font-size: 14px;
	color: grey;
	font-weight: 300;
	text-decoration: none !important;
	letter-spacing: normal;
	line-height: initial;
	padding-bottom: 10px;
	padding-top: 0;
	line-height: 20px;
	border: none;
	padding-left: 0;
	padding-right: 0;
	background-color: white;
}

.supp-tags .supp-tags-nav .nav-itm .btn-link.active-section {
	color: red;
	border-bottom: 2px solid red;
}
